<div class="panel-block space-between item" (click)="onNavigate(item.id)">
  <div>
    <p>{{ item.name }}</p>
    <p class="is-size-7" *ngIf="item?.ingredients; else showWorkout">{{ item?.ingredients | join }}</p>
    <ng-template #showWorkout>
      <p class="is-size-7">{{ item | workout }}</p>
    </ng-template>
  </div>

  <div class="delete-item">
    <div class="list-item__delete" *ngIf="toggled">
      <p>Delete item?</p>
      <button
        class="button is-danger is-small"
        type="button"
        (click)="onDelete($event, item.id)">
        Yes
      </button>
      <button
        class="button is-small"
        type="button"
        (click)="toggle($event)">
        No
      </button>
    </div>
    <i (click)="toggle($event)" class="fa fa-trash-alt delete-item__action"></i>
  </div>
</div>
