<form [formGroup]="form">
  <div class="field">
    <label>
      <b>Workout name:</b>
      <input [placeholder]="placeholder" class="input" type="text" placeholder="e.g. Benchpress" formControlName="name">
      <span class="error" *ngIf="required">
        Workout name is required
      </span>
    </label>
  </div>

  <div class="field">
    <b class="is-block">Type:</b>
    <label class="radio">
      Strength:
      <input name="type" type="radio" formControlName="type" value="strength">
    </label>
    <label class="radio">
      Endurance:
      <input name="type" type="radio" formControlName="type" value="endurance">
    </label>
  </div>

  <div class="flex space-between" *ngIf="form.get('type').value === 'strength'" formGroupName="strength">
    <div class="field">
      <label>
        <b>Reps:</b>
        <input class="input" type="text" formControlName="reps">
      </label>
    </div>
    <div class="field">
      <label>
        <b>Sets:</b>
        <input class="input" type="text" formControlName="sets">
        <span class="error" *ngIf="isSetsRangeInvalid">
          Value is out of range
        </span>
      </label>
    </div>
    <div class="field">
      <label>
        <b>Weight:</b>
        <input class="input" type="text" formControlName="weight">
        <span class="error" *ngIf="isWeightRangeInvalid">
          Value is out of range
        </span>
      </label>
    </div>
  </div>

  <div class="flex space-between" *ngIf="form.get('type').value === 'endurance'" formGroupName="endurance">
    <div class="field">
      <label>
        <b>Distance(km):</b>
        <input class="input" type="text" formControlName="distance">
      </label>
    </div>
    <div class="field">
      <label>
        <b>Duration(min):</b>
        <input class="input" type="text" formControlName="duration">
      </label>
    </div>
  </div>

  <div class="actions flex space-between">
    <button class="button" [routerLink]="['../']">Cancel</button>
    <button class="button is-primary edit" *ngIf="exists" (click)="updateWorkout()" [disabled]="form.invalid">Edit</button>
    <button class="button is-primary add" *ngIf="!exists" (click)="createWorkout()" [disabled]="form.invalid">Add</button>
  </div>
</form>
