<div class="panel">
  <div class="panel-heading space-between flex align-items-center">
    <span><i class="fa fa-utensils"></i> Your meals:</span>
    <button [routerLink]="['./add']" class="button is-primary is-small">Add Meal</button>
  </div>
  <div class="panel-block space-between item">
    <div>
      <p>Spaghetti</p>
      <p class="is-size-7">Pasta, meat</p>
    </div>
    <div>
      <i class="fa fa-trash-alt"></i>
    </div>
  </div>
  <div class="panel-block space-between item">
    <div>
      <p>English Breakfast</p>
      <p class="is-size-7">Sausages, beans, toasts</p>
    </div>
    <div>
      <i class="fa fa-trash-alt"></i>
    </div>
  </div>
</div>
