<div class="schedule-calendar">
  <div class="field">
    <div class="control">
      <label for="schedule-date">Schedule date</label>
      <input class="input" id="schedule-date" type="date">
    </div>
  </div>
</div>

<div class="board-section">
  <div class="panel">
    <div class="panel-heading">
      Morning
    </div>
    <div class="panel-block item">
      <i class="fa fa-utensils"></i> Eggs
    </div>
    <div class="panel-block item">
      <i class="fa fa-dumbbell"></i> Pushups
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading">
      Lunch
    </div>
    <div class="panel-block item">
      <i class="fa fa-utensils"></i> Spaghetti
    </div>
    <div class="panel-block item">
      <i class="fa fa-dumbbell"></i> Lifting
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading">
      Evening
    </div>
    <div class="panel-block item">
      <i class="fa fa-plus-square"></i> Assign food
    </div>
    <div class="panel-block item">
      <i class="fa fa-plus-square"></i> Assign training
    </div>
  </div>
</div>
